@import "../base/variables";
.titulo-3{
    text-align: center;
    font-size: 33px;
}
.row{
    padding: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.col{
    margin: 10px;
    width: 40%;
    &:focus{
        border-color: $color-blue;
    }
}
.col-12{
    display: flex;
    justify-content: center;
}
