.titulo-2{
    font-size: 30px;
    text-align: center;
}
.catalogo{
    .catalogo-1{
        display: flex;
        justify-content: center;
        margin-bottom: 5px;
        img{
            width: 30px;
            height: 30px;
            margin-left: 4px;
            border-radius: 15px;
        }
    }
    .catalogo-2{
        .catalogo-2-1{
            display: flex;
            justify-content: space-around;
            margin-bottom: 30px;
            flex-wrap: wrap;
            .producto1{
                @extend %producto;
                &:hover{
                    transform: scale(1.1);
                }
                img{
                    @include imagen(200px, 180px, 5px, 5px);
                    background-color: white;
                }
                p{
                    height: 10px;
                    font-size: 15px;
                }
                h3{
                    @extend %comprar;
                    &:hover{
                    transform: scale(1.1);
                    color: white;
                    } 
                }
            }
            div:nth-child(1){
                p{
                height: 3px;
                }
            } 
        }
        .catalogo-2-2{
            display: flex;
            justify-content: space-around;
            margin-bottom: 30px;
            flex-wrap: wrap;
            .producto2{
                @extend %producto;
                &:hover{
                    transform: scale(1.1);
                }
                img{
                    @include imagen(200px, 180px, 5px, 5px);
                    background-color: white;
                }
                p{
                    height: 10px;
                    font-size: 15px;
                }
                h3{
                    @extend %comprar;
                    &:hover{
                    transform: scale(1.1);
                    color: white;
                    }
                }
            }
            div:nth-child(2){
                p{
                height: 3px;
                }
            }
            div:nth-child(3){
                p{
                height: 3px;
                }
            } 
        }
    }
} 
.nuevo{
    display: flex;
    justify-content: center;
}
.popover-boton{
    display: flex;
    justify-content: center;
    margin-bottom: 5px;
}
.ofertas{
    .ofertas-1{
    display: flex;
    justify-content: center;
    margin-bottom: 15px;
        img{
        width: 60px;
        height: 30px;
        margin-left: 4px;
        border-radius: 5px;
        }
    }
    .ofertas-2{
        display: flex;
        justify-content: space-evenly;
        flex-wrap: wrap;
        .oferta{
            width: 200px;
            height: 300px;
            border: 2px solid rgb(88, 88, 88);
            display: flex;
            flex-direction: column;
            align-items: center;
            border-radius: 7px;
            text-align: center;
            transition: 1.25s;
            margin-top: 7px;
            margin-bottom: 7px;
            &:hover{
                transform: scale(1.05);
            }
            img{
                @include imagen(200px, 200px, 5px, 5px);
            }
            .tachado{
                display: flex;
                .descuento{
                    text-decoration: line-through;
                    margin-right: 6px;
                }
            }
            p{
                height: 7px;
            }
            h3{
                @extend %comprar;
                &:hover{
                    transform: scale(1.1);
                    color: white;
                }
            }
        }
    }
}

